<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Upload/View Excel</title>

    <script>
        
        const token_validator = async(token) =>{
            const response = await fetch("/auth/validator", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${token}`,
                },
                
            });
            if (response.status>=400){
                alert("invalid token")
                window.location.href = "/auth/login"
                
            } 
            
        }
        
        const token = localStorage.getItem("jwt-token")
        if(token == null){
            alert("User not logged")
            window.location.href = "/auth/login"; 
        } 
        token_validator(token)
        
    </script>
</head>
 
<body>
    <h1>Upload Excel File (.xlsx)</h1>
    <form  id="excel-form"  enctype="multipart/form-data" >
        <input type="file" name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
        <input type="submit" value="submit">
    </form>
    <a href="{{ url_for('auth.loged') }}">Back</a>

    <script>

        document.getElementById("excel-form").addEventListener("submit", async (event) => {
            event.preventDefault();
            
            const form = event.target;
            const fileInput = form.querySelector('input[type="file"]');

            let data = new FormData();

            data.append('file', fileInput.files[0]); 
            
            const token = localStorage.getItem("jwt-token");
            if (token == null){
                alert("User not loged")
                window.location.href = "/auth/login"; 
            }

            const response = await fetch("/api/load_file", {
                method: "POST",
                headers: {
                    
                    Authorization: `Bearer ${token}`,
                },
                body: data
            });

            const result = await response.json()
            
            
            if(response.status == 200){
                alert(result.msg);
                window.location.href = "/auth/loged"; 
            } else if (response.status >= 400){
                alert(result.msg);
                window.location.href = "/auth/login"; 
            }

            
        });
    </script>
</body>
 
</html>
