<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Upload/View Excel</title>
</head>
 
<body>
    <h1>Upload Excel File (.xlsx)</h1>
    <form  id="excel-form"  enctype="multipart/form-data" onsubmit="file_loader(event)">
        <input type="file" name="file"
            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required>
        <input type="submit" value="submit">
    </form>
    <button type="button" class="btn btn-primary mt-5" id ="myButton" onclick="home_returner()">Back to home</button>

    
</body>
 
</html>
