<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Login</title>
</head>
 
<body style="background-color: gray;" id="content-container">
    <h1 >Login</h1>
    <form  id="login-form"  enctype="application/json" >
        <input type="text" name="user" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
    

    <script>

        document.getElementById("login-form").addEventListener("submit", async (event) => {
            event.preventDefault();

            const form = event.target;
            const formData = new FormData(form);
            const data = {};
            formData.forEach((value, key) => {
                data[key] = value;
            });
            const response = await fetch("/auth/loginator", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            });

            const result = await response.json()
            alert(result.msg);
            
            if(response.status == 200){
                localStorage.setItem("jwt-token", result.token);
                
                const respons = await fetch("/auth/loged", {
                method: "GET",
                headers: {
                    "Content-Type": "application/json",
                    Authorization: `Bearer ${result.token}`
                },
                });
                const resul = await respons.text(); // Get the HTML content as text

                if (respons.status === 200) {
                    // Display the HTML content in the container element
                    const container = document.getElementById("content-container");
                    container.innerHTML = resul;
                }
            
                

            }
            
        });
    </script>
</body>
 
</html>
