<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Signup</title>
</head>
 
<body style="background-color: gray;">
    <h1>Signup</h1>
    <form id="signup-form"  enctype="application/json" onsubmit="user_addinator(event)">
        <input type="text" name="user" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <input type="password" name="rep_password" placeholder="Repeat Password" required>
        <input type="submit" value="submit">
    </form>
    <button type="button" class="btn btn-primary mt-5" id ="myButton" onclick="home_returner()">Back to home</button>

    
</body>
 
</html>
